# =========================
# CORE BACKEND
# =========================
fastapi==0.110.0
uvicorn[standard]==0.27.1

# =========================
# DJANGO ADMIN
# =========================
Django==5.0.6

# =========================
# BANCO DE DADOS
# =========================
sqlalchemy==2.0.29
psycopg2-binary==2.9.9

# =========================
# MIGRACOES
# =========================
alembic==1.13.1

# =========================
# VALIDACAO E CONFIG
# =========================
pydantic==2.6.4
python-dotenv==1.0.1

# =========================
# UTILIDADES
# =========================
requests==2.31.0
httpx==0.27.0

# =========================
# MONITORAMENTO ASSINCRONO
# =========================
celery==5.4.0
redis==5.0.4
pysnmp==4.4.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
